{
	"root": true,
	"ignorePatterns": ["generators/app/templates/**/*"],
	"extends": ["eslint-config-nitpick", "eslint-config-prettier"],
	"plugins": ["eslint-plugin-prettier"],
	"rules": {
		"prettier/prettier": 1
	},
	"overrides": [
		{
			"files": "test/index.js",
			"rules": {
				"unicorn/prevent-abbreviations": [
					1,
					{
						"allowList": {
							"devDependencies": true,
							"env": true
						}
					}
				]
			}
		}
	]
}
